@import '../../../../sass/variables';

:host {
    display: block;
    line-height: 1.35;
}

.message_innerhtml {
    box-sizing: border-box;
    display: block;
    font-size: 1.4em;
    font-style: normal;
    font-stretch: normal;
    font-variant: normal;
    font-weight: 300;
    letter-spacing: normal;
    line-height: 1.35;
    margin: 0;
    overflow: hidden;
    overflow-wrap: anywhere;
    padding: 8px 12px;

    &.marked{
        margin-block-start: 0!important;
        margin-block-end: 0!important;
    }
    
    .text-message {
        padding-top: 14px;
    }
}

:host ::ng-deep .message_innerhtml p {
    line-height: 1.35;
    margin: 0;
    padding: 0;
}

:host ::ng-deep .message_innerhtml p:not(:last-child) {
    margin-bottom: 6px;
}
